In [1]:
import pymysql

In [30]:
sql = """
CREATE TABLE school (
    id INT UNSIGNED NOT NULL AUTO_INCREMENT,
    name VARCHAR(20) NOT NULL,
    height VARCHAR(10) NOT NULL,
    weight VARCHAR(10) NOT NULL,
    PRIMARY KEY(id)
);
"""

In [31]:
db = pymysql.connect(host="localhost",user="python",password="python",\
                      db='python_db',port=3306,charset='utf8')

try:
    with db.cursor() as cursor:
        cursor.execute(sql)
        db.commit()
        
        for num in range(10,15):
            name= 'Y20'+str(num)
            ins_sql = 'insert into school (name,height,weight) values (%s, %s, %s)'
            cursor.execute(ins_sql,(name,'180cm','80kg'))
            print(ins_sql)
            db.commit()
            print(cursor.lastrowid)
finally:
    db.commit()

insert into school (name,height,weight) values (%s, %s, %s)
1
insert into school (name,height,weight) values (%s, %s, %s)
2
insert into school (name,height,weight) values (%s, %s, %s)
3
insert into school (name,height,weight) values (%s, %s, %s)
4
insert into school (name,height,weight) values (%s, %s, %s)
5

In [34]:
import pymysql

db = pymysql.connect(host='localhost', port=3306, db='python_db',\
                    user='python',passwd='python',charset='utf8')

try:
    with db.cursor() as cursor:
        upd_sql = "update school set height='%s' where name between 'Y2012' and 'Y2014'" %'거인'
        cursor.execute(upd_sql)
        db.commit()
        
finally:
    db.close()