# 2.3 입출력 함수
## 출력함수
### 다양한 데이터형 출력
#### 문자열 출력

In [1]:
#p21
print('안녕하세요!')

안녕하세요!

#### 정수형, 실수형 부울형 데이터값 출력

In [2]:
print(3)

3

In [3]:
print(3.5)

3.5

In [4]:
print(True)

True

In [5]:
print(3+5)

8

#### 변수에 저장된 내용 출력

In [6]:
#p22
a = 3
b = 3.5
c = True
print(a)
print(b)
print(c)

3
3.5
True

In [7]:
a = 3
b = 3.5
print(a+b)

6.5

In [8]:
#p23
print(3.5)

3.5

In [9]:
two = 0b11    # 2진수는 0b를 사용! [영(0)과 binary를 나타내는 b]
print(two)

3

In [10]:
eight = 0o11    # 8진수는 0o를 사용! [영(0)과 octet를 나타내는 o]
print(eight)

9

In [11]:
a = 0x11    # 16진수는 0x를 사용! [영(0)과 hex를 나타내는 x]
print(a)

17

### 다수의 데이터형 출력

In [12]:
age = 21
print('나이: ', age)

나이:  21

In [13]:
name = '홍길동'
print('나는', name, '입니다.')

나는 홍길동 입니다.

In [14]:
#p24
a = 3
b = 3.5
print(a, '*', b, '=', a*b)

3 * 3.5 = 10.5

### C언어 유사 형태 출력 형식

In [15]:
#p25
print("%d" % 3)

3

In [16]:
print("%f" % 3.5)

3.500000

In [17]:
a = 3
b = 3.5
print("%d" % a)
print("%f" % b)

3
3.500000

## 입력 함수

### 문자열형 데이터값 입력

In [18]:
#p26
name = input()

홍길동

In [19]:
#p26
print(name)

홍길동

In [20]:
name = input('이름: ')

이름: 홍길동

In [21]:
print(name)

홍길동

### 정수형 데이터값 입력

In [22]:
age = input('나이 : ')

나이 : 21

In [23]:
print(age)

21

In [24]:
age = input('나이 : ')

나이 : 21

In [25]:
after = input('몇 년 후? ')

몇 년 후? 10

In [26]:
print(age + after)

2110

In [27]:
#p27
age = input('나이 : ')

나이 : 21

In [28]:
after = input('몇 년 후? ')

몇 년 후? 10

In [29]:
print(int(age) + int(after))

31

In [30]:
print('나이: ' + 21)

TypeError: must be str, not int

In [31]:
print('나이: ' + str(21))

나이: 21

In [32]:
#p29
age = input('나이 : ')

나이 : 21

In [33]:
print(int(age) + 10)

31

In [34]:
old = age + 10

TypeError: must be str, not int

In [35]:
print(old)

NameError: name 'old' is not defined

In [36]:
type(age)

str

In [37]:
age = int(age)
type(age)

int

### 실수형 데이터값 입력

In [38]:
#p30
height = input('키 : ')

키 : 170.2

In [39]:
print(height)

170.2

In [40]:
type(height)

str

In [41]:
height = input('키 : ')

키 : 170.2

In [42]:
print(float(height) + 1.5, 'cm')

171.7 cm

In [43]:
#p31
num = 5.5
print(int(num))

5

In [44]:
a = '5'
print(int(a))

5

In [45]:
b = '5.5'
print(int(b))

ValueError: invalid literal for int() with base 10: '5.5'

### 부울형 데이터값 입력

In [46]:
#p32
a = input('참(True)/거짓(False): ')

참(True)/거짓(False): False

In [47]:
a

'False'

In [48]:
type(a)

str

In [49]:
a = input('참(True)/거짓(False): ')

참(True)/거짓(False): False

In [50]:
print(bool(a))

True

In [51]:
#p33
a = input('참(1)/거짓(0): ')

참(1)/거짓(0): 0

In [52]:
a = int(a)
print(bool(a))

False

## [참고]

In [53]:
input('당신은 성인입니까?\n')

당신은 성인입니까?
True

'True'