In [4]:
#dict
my_dict = {
    "name":"홍길동",
    "age":40
}
print(type(my_dict))
name= my_dict['name']
print(name)

<class 'dict'>
홍길동

In [6]:
for key, value in my_dict.items():
    print(key,value)

name 홍길동
age 40

In [15]:
def my_url(kind):
    #url="https://openapi.naver.com/v1/search/{}.json".format(kind)
    url=f"https://openapi.naver.com/v1/search/{kind}.json"

    print(url)

In [18]:
my_url("news")
my_url("movie")
my_url("book")

https://openapi.naver.com/v1/search/news.json
https://openapi.naver.com/v1/search/movie.json
https://openapi.naver.com/v1/search/book.json

In [25]:
# split()함수 사용
my_str = 'a/b/c'
result = my_str.split('/')
print(type(result),result)

<class 'list'> ['a', 'b', 'c']

In [61]:
lyric = '''
Yesterday all my troubles seemed so far away.
Now it looks as though they're here to stay.
Oh, I believe in yesterday.
'''
result = lyric.split('\n')
result

['',
 'Yesterday all my troubles seemed so far away.',
 "Now it looks as though they're here to stay.",
 'Oh, I believe in yesterday.',
 '']

In [65]:
# list comprehension -> 포괄적인 list 라는 뜻
# 적용하지 않았을때(before)

numbers = [1,2,3,4]
result= []
for value in numbers:
    result.append(value**2)

result

[1, 4, 9, 16]

In [50]:
# 적용한 후(after)
result2 = [val **2 for val in numbers]
result2

[1, 4, 9, 16]

In [56]:
# 적용전(before)
even_list =[]
for val in range(20):
    if val %2==0:
        #print(val)
        even_list.append(val)
even_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [57]:
# 적용후(after)
even_list2 = [val for val in range(20)]
even_list2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [58]:
# 적용후(after)
even_list2 = [val for val in range(20) if val%2==0]
even_list2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [4]:
#dict, list 연습

song_list = []
for val in range(5):
    song_dict = {}
    song_dict['seq'] = val
    song_dict['title'] = 'Dynamite'
    #print(song_dict)
    song_list.append(song_dict)

song_list

[{'seq': 0, 'title': 'Dynamite'},
 {'seq': 1, 'title': 'Dynamite'},
 {'seq': 2, 'title': 'Dynamite'},
 {'seq': 3, 'title': 'Dynamite'},
 {'seq': 4, 'title': 'Dynamite'}]

In [19]:
import re

my_str = 'a\nb\nc\td'*3
print(my_str)

#정규표현식
regexp = re.compile(r'[\n\r\t]')
print(type(regexp),regexp)
#pattern과 매칭되는 문자열을 찾아서 다른 문자열로 치환
result = regexp.sub(" ",my_str)
result = result.replace(" ","")
print(result)

a
b
c	da
b
c	da
b
c	d
<class 're.Pattern'> re.compile('[\\n\\r\\t]')
abcdabcdabcd

In [1]:
# tuple 형태로 여러개의 값을 반환하는 함수 선언
def swap(a,b):
    return (b,a)

In [2]:
n1,n2 = swap(10,20)
print(n1)
print(n2)

20
10

In [7]:
# 객체가 1개일땐 int, 여러개일땐 tuple인데 1개여도 tuple 되고싶으면 뒤에 , 찍어라
my_tuple = (1)
print(type(my_tuple))

my_tuple2 = (1,)
print(type(my_tuple2))

<class 'int'>
<class 'tuple'>

In [11]:
# 국회의원현황 관련 기초 문법
dt_list = ['정당','선거구']
dd_list = ['민주당','서울은평구']
print(zip(dt_list,dd_list))

for data in zip(dt_list,dd_list):
    print(data)
    
data_dict = dict(zip(dt_list,dd_list))
print(data_dict)

<zip object at 0x7fd4d12413c0>
('정당', '민주당')
('선거구', '서울은평구')
{'정당': '민주당', '선거구': '서울은평구'}

In [13]:
temp = '재선(20대,21대)'
print(temp[2:])
print(temp[:2])

(20대,21대)
재선

In [14]:
from datetime import date

In [17]:
#현재날짜
today = date.today()
print(today)
print(today.year)
print(today.month)
print(today.day)

2020-10-23
2020
10
23

In [51]:
#1960.06.04 
#1960.12.05 
birth = date(1960,6,4)
print(birth)
print(birth.year)
print(birth.month)
print(birth.day)

1960-06-04
1960
6
4

In [52]:
# 10월 23일 < 6월4일 -> False
(today.month,today.day)<(birth.month,birth.day)

False

In [69]:
# 생일이 지났으면 그냥 하고, 생일이 안지났으면 나이를 -1 해줘야함
age = today.year - birth.year-((today.month,today.day)<(birth.month,birth.day))
print(age)

60

In [65]:
from datetime import date

def calc_age(birth):
    #현재날짜
    today = date.today() 
    print(today,birth)
    print('year',today.year-birth.year)
    print('month day',(today.month,today.day)<(birth.month,birth.day))
    age = (today.year-birth.year)-((today.month,today.day)<(birth.month,birth.day))
    print(age)
    return age

In [71]:
calc_age(date(1988,12,25))

2020-10-23 1988-12-25
year 32
month day True
31

31

In [72]:
calc_age(date(1991,5,1))

2020-10-23 1991-05-01
year 29
month day False
29

29

In [1]:
import os

In [1]:
os.mkdir

NameError: name 'os' is not defined

In [2]:
#함수의 아규먼트 갯수가 가변적인 경우
def myFun(*argv):
    for arg in argv:
        print(arg)
        
myFun('Hello','Welcome','to','GeeksforGeeks')

Hello
Welcome
to
GeeksforGeeks

In [3]:
def myFun(**kwargs):
    print(type(kwargs),kwargs)
    for key, value in kwargs.items():
        print('%s==%s'%(key,value))
        
#Driver code
myFun(first='Geeks',mid='for',last='Geeks')

<class 'dict'> {'first': 'Geeks', 'mid': 'for', 'last': 'Geeks'}
first==Geeks
mid==for
last==Geeks

In [1]:
#lamda식 선언 하기 전 일반적인 함수
def add(n1,n2):
    return n1+n2
add(10,20)

30

In [2]:
#함수를 정의할 때 Lamda식 형태 선언
add2 = lambda n1,n2 :n1+n2
add2(10,30)

40

In [4]:
myfunc = lambda mystr: mystr.replace(',','')
myfunc('2222,444')

'2222444'