In [1]:
print("hello world")

hello world

In [2]:
a=3
b=2
print(a+b)

5

안녕하세요

In [3]:
안녕?

Object `안녕` not found.

In [4]:
a=3
b=2
print(a+b)

5

In [1]:
a=3
b=2
print(a+b)

5

In [2]:
counter =100
miles = 1000.0
name = "홍길동"
print(counter)
print(miles)
print(name)

100
1000.0
홍길동

In [3]:
a,b,c = 100 , 200, 300
print(a,b,c)

100 200 300

In [5]:
int(3.4)

3

In [6]:
float('inf')

inf

In [7]:
float('int')

ValueError: could not convert string to float: 'int'

In [8]:
bool(0)

False

In [9]:
bool(-1)

True

In [10]:
v=2+3j
v.real
v.imag

3.0

In [11]:
v.real

2.0

In [12]:
v.imag

3.0

In [13]:
str='Hello World!'
print(str)

Hello World!

In [14]:
list=['안녕',1,4,6,123]
tinylist= [77,88,55,11,33,22]
print(list)

['안녕', 1, 4, 6, 123]

In [15]:
print(tinylist*2)

[77, 88, 55, 11, 33, 22, 77, 88, 55, 11, 33, 22]

In [16]:
print(list[0])

안녕

In [17]:
listX=['abc',123,5.5,'John']

print(listX)

['abc', 123, 5.5, 'John']