# 12.1 빅데이터의 가공
## 존재하지 않는 값 처리

In [1]:
#p183
import pandas as pd
robots = [[24, 23680], [35, NaN], [46, 47350], [27, NaN]]

NameError: name 'NaN' is not defined

In [2]:
#p184
import pandas as pd
from numpy import NaN
robots = [[24, 23680], [35, NaN], [46, 47350], [27, NaN]]
print(robots)

[[24, 23680], [35, nan], [46, 47350], [27, nan]]

In [3]:
import pandas as pd
from numpy import NaN
robots = [[24, 23680], [35, NaN], [46, 47350], [27, NaN]]
data = pd.DataFrame(robots, columns=['max_speed', 'price'])
print(data)

   max_speed    price
0         24  23680.0
1         35      NaN
2         46  47350.0
3         27      NaN

In [4]:
data.dropna(subset=['price'], axis=0, inplace=True)
print(data)

   max_speed    price
0         24  23680.0
2         46  47350.0

In [5]:
#p185
import pandas as pd
from numpy import NaN
robots = [[24, 23680], [35, NaN], [46, 47350], [27, NaN]]
data = pd.DataFrame(robots, columns=['max_speed', 'price'])
mean = data['price'].mean()
data.replace(NaN, mean)
print(data)

   max_speed    price
0         24  23680.0
1         35      NaN
2         46  47350.0
3         27      NaN

In [6]:
data = data.replace(NaN, mean)
# 또는
# data.replace(NaN, mean, inplace=True)
print(data)

   max_speed    price
0         24  23680.0
1         35  35515.0
2         46  47350.0
3         27  35515.0